Name=Person_Name_Gazetteer
# Path are relative from the viewpoint of the compilation script
AttributeFile=../resources/PersonNameAttributes.txt
EntryFile=../resources/person_name_gazetteer.txt
InputSeparator=|
AttributeValueSeparator=>
DownCaseEntries=false
CharacterSet=UTF-8
OutputFile=../compiled-resources/person_names.gaz